<div>
	<div class="alert alert-warning hidden-xs" ng-if="!notifications">
		<a href="#" ng-click="enableAlerts()" class="alert-link">Enable desktop notifications</a>
	</div>
	<ul class="nav nav-pills">
		<li ui-sref-active="active"><a ui-sref="dashboard.shows">Shows</a></li>
		<li ui-sref-active="active"><a ui-sref="dashboard.movies">Movies</a></li>
		<li ui-sref-active="active"><a ui-sref="dashboard.queue">Queue</a></li>
		<li ui-sref-active="active"><a ui-sref="dashboard.system">System</a></li>
	</ul>
	<ui-view></ui-view>
</div>