<form name="showForm" ng-submit="save()">
	<div class="modal-header" ng-show="settings && summary">
		<img src="/assets/gfx/no-banner.png" ng-src="/media/{{settings.shows.directory}}/{{summary.directory}}/banner.jpg" alt="{{summary.name}}" class="img-responsive" />
	</div>
	<div class="modal-body">
		<tabset>
			<tab heading="Synopsis">
				<div class="synopsis well">
					{{summary.synopsis || 'No synopsis available'}}
				</div>
				<div ng-if="summary.progress">
					<hr />
					<p>Watched {{summary.progress.completed}} of {{summary.progress.aired}} episodes</p>
					<progress animate="false">
						<bar type="success" value="summary.progress.percentage">
							<span ng-hide="summary.progress.percentage<=5">{{summary.progress.percentage}}%</span>
						</bar>
						<bar type="danger" value="100-summary.progress.percentage"></bar>
					</progress>
				</div>
			</tab>
			<tab heading="Episodes">
				<accordion class="seasons">
					<accordion-group heading="{{display()}}" class="season" ng-repeat="season in listing | orderBy:'season':true" ng-controller="seasonCtrl">
						<div class="episode" ng-repeat="episode in season.episodes | orderBy:'episode'" ng-controller="episodeCtrl" ng-class="{unaired: !hasAired()}">
							<h5 class="title"><span class="small">{{episode.episode | zeroPad:2}}</span>{{episode.title || 'TBA'}}</h5>
							<div class="extended" ng-switch="hasAired()">
								<p class="synopsis">{{episode.synopsis || 'No synopsis available'}}</p>
								<div class="tools" ng-switch-when="true">
									<span class="fa fa-eye-slash action" title="Mark episode as watched" ng-if="episode.file && !episode.watched" ng-click="watched()"></span>
									<span class="fa fa-eye action" title="Episode has been watched" ng-if="episode.file && episode.watched" ng-click="watched()"></span>
									<span class="fa fa-download action" title="Download this episode" ng-if="!episode.file && episode.hash" ng-click="download()"></span>
									<span class="fa fa-hdd-o" title="This episode has been downloaded" ng-if="episode.status && episode.file"></span>
								</div>
								<div class="tools" ng-switch-when="false">
									<span ng-if="!hasAired()">
										{{episode.airdate*1000 | date:'yyyy-MM-dd'}}
									</span>
								</div>
							</div>
						</div>
					</accordion-group>
				</accordion>
			</tab>
			<tab heading="Settings">
				<div class="well" ng-switch on="summary.status">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="trakt" ng-model="summary.trakt" ng-checked="summary.trakt" />
							Synchronize show with Trakt
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="status" ng-model="summary.status" ng-checked="summary.status" />
							Download new episodes when available
						</label>
					</div>
					<div class="checkbox" ng-switch-when="true">
						<label>
							<input type="checkbox" name="hd" ng-model="summary.hd" ng-checked="summary.hd" />
							Prefer HD video<br /><span class="small">Note: Xbox 360 does not support .mkv files</span>
						</label>
					</div>
					<div class="form-group" ng-switch-when="true">
						<label for="ipt_setting_feed">RSS Feed</label>
						<input type="text" name="feed" ng-model="summary.feed" class="form-control" />
					</div>
				</div>
				<div class="buttons form-group">
					<button type="button" class="btn btn-info">
						<span class="fa fa-cloud-download"></span>
						Download all
					</button>
					<button type="button" class="btn btn-primary" ng-click="update()">
						<span class="fa fa-list"></span>
						Update listings
					</button>
					<button type="button" class="btn btn-warning" ng-click="rescan()">
						<span class="fa fa-refresh"></span>
						Rescan Files
					</button>
					<button type="button" class="btn btn-danger" ng-click="remove()">
						<span class="fa fa-trash"></span>
						Remove Show
					</button>
				</div>
			</tab>
		</tabset>
	</div>
	
	<div class="modal-footer">
		<button type="submit" ng-show="showForm.$dirty" class="btn btn-success">Save</button>
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
	</div>
</form>