<div id="shows">
	<div class="row">
		<div class="show col-sm-3">
			<div class="image"></div>
			<div>Add Show</div>
		</div>
		
		<div class="show col-sm-3" ng-repeat="show in shows" ng-click="modalShow(show.id)">
			<div class="image">
				<img data-src="/media/{{show.directory}}/cover.jpg" alt="" class="img-responsive" />
			</div>
			<div>{{show.name}}</div>
		</div>
		
		<div class="show col-sm-3">
			<div class="image"></div>
			<div>Add Show</div>
		</div>
	</div>
</div>

<div id="show-modal" class="modal" role="dialog" ng-cloak>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<img src="assets/artwork/{{detail.tvdb}}.jpg" alt="{{detail.name}}" class="img-responsive" />
			</div>
			
			<div class="modal-body">
			
				<div class="synopsis">
					<h3>Synopsis</h3>
					<p>{{detail.synopsis}}</p>
				</div>
			
				<div id="seasons" class="panel-group">
					<div class="panel" ng-repeat="season in detail.seasons">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#seasons" href="#season-{{season.season}}">Season {{season.season}}</a>
							</h4>
						</div>
						<div id="season-{{season.season}}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="episodes" ng-repeat="episode in season.episodes">
									<div class="header">
										<span class="episode seen" data-episode="{{episode.id}}" title="Mark this episode as watched">{{episode.episode}}</span>
										<span class="title">{{episode.title}}</span>
									</div>
									
									<div class="extended">
										<p class="synopsis">{{episode.synopsis}}</p>
										<hr />
										<div class="airdate">{{episode.airdate}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>