lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

.sass-cache
newrelic.js
node_modules/*
!node_modules/nodetv-*

app/components/*

docs/*.txt
docs/*.md
settings.json

test_data/*

*.service
*.copy.*