lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

app/assets/artwork/*.*
cache/artwork/*.*
cache/*.*
db/*.sqlite
npm-debug.log
settings.json

docs
logs
node_modules

test_data
test.*
upnp.js
