<div class="modal-header">
	<h4 class="modal-title">Download Options</h4>
</div>
<div class="modal-body">
	
	Nothing yet
	<!--
	<div>
		<div ng-repeat="file in files">
			<label for=""><input type="radio" /> {{file.name}}</label>
		</div>
	</div>
	
	<div class="form-group">
		<label for=""></label>
		<input type="text" class="form-control" />
	</div>
	-->
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-show="selected" ng-click="save()">Move</button>
	<button type="button" class="btn btn-danger" ng-click="close()">Close</button>
</div>
