	<div class="download" ng-click="select($index)" ng-class="{'selected':selected,'paused':!active}" ng-controller="DownloadController">
		<h4>
			{{download.name}}
			<!--span ui-sref="downloads.info({id: download.id})" ng-click="$event.stopPropagation()">{{download.name}}</span-->
		</h4>
		<div class="progress" title="{{download.percentDone*100 | number:2}}%">
			<div class="progress-bar" role="progressbar" style="width: {{download.percentDone*100}}%;" ng-class="{'progress-bar-success': download.percentDone==1}"></div>
		</div>
		<div class="stats">
			<span class="pull-right hidden-xs">
				<span ng-if="download.rateDownload">
					{{download.rateDownload|formatBytes}}
					<span class="fa fa-arrow-down"></span>
				</span>
				<span ng-if="download.rateUpload">
					<span class="fa fa-arrow-up"></span>
					{{download.rateUpload|formatBytes}}
				</span>
			</span>
			<span>{{download.sizeWhenDone|formatBytes}}, uploaded {{download.uploadedEver|formatBytes}}</span>
			<span>(Ratio: {{download.uploadedEver/download.downloadedEver|number:1}})</span>
		</div>
	</div>