<div class="modal-header">
	<form ng-submit="search()">
		<span class="input-group">
			<input type="text" class="form-control search" autofocus="true" placeholder="Type to search" ng-model="filter.query" />
			<span class="input-group-addon btn btn-success" ng-click="search()"><span class="fa fa-search"></span></span>
			<span class="input-group-addon btn btn-danger" ng-click="reset()"><span class="fa fa-times"></span></span>
		</span>
	</form>
</div>
<div class="modal-body" ng-show="loading || results.length">
	<div class="loading" ng-class="{'active': loading}"></div>
	<div class="results" ng-show="results.length">
		<div class="result" ng-repeat="result in results" ng-class="{selected: selected==result.movie.ids.imdb}" ng-click="select(result.movie.ids.imdb)">
			<img ng-src="{{result.movie.images.poster.thumb}}" />
			<strong>{{::result.movie.title}}</strong>
			<p class="synopsis">{{result.movie.overview || 'No synopsis available'}}</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-show="selected" ng-click="save()">Add Movie</button>
	<button type="button" class="btn btn-default" ng-click="dismiss()">Close</button>
</div>
