<div class="library-filter">
	<div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon btn btn-primary" ng-click="filter.active=!filter.active" ng-class="{'active':filter.active}"><span class="fa fa-filter"></span></span>
				<input type="text" class="form-control search" placeholder="Search downloads..." ng-model="filter.title" />
				
				<span class="input-group-addon btn btn-success" ng-click="add()"><span class="fa fa-plus"></span></span>
				<span class="input-group-addon btn btn-danger" ng-click="filterClear()"><span class="fa fa-times"></span></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<select name="" id="" class="form-control" ng-model="filter.state" ng-options="option.type as option.name for option in states">
				<option value="">Show all</option>
			</select>
		</div>
		<div class="col-sm-6"></div>
		
		<div class="col-sm-3 text-right">
			<div class="btn-group" ng-show="selected.length">
				<button class="btn btn-success" ng-click="resume()"><span class="fa fa-play"></span></button>
				<button class="btn btn-warning" ng-click="pause()"><span class="fa fa-pause"></span></button>
				<button class="btn btn-danger" ng-click="remove()"><span class="fa fa-trash"></span></button>
			</div>
		</div>
	</div>
</div>

<div ng-repeat="download in results = (downloads|filter:filterList) | orderBy:'name'" ng-include="'/views/downloads/partial/download.html'"></div>

<div ng-hide="downloads.length && results.length">
	<div ng-show="filter.name.length">No matches found</div>
</div>
<div class="loading" ng-hide="downloads.length">Loading...</div>