<!DOCTYPE html>
<html>
<head>
	<title>NodeTV</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(max-device-width: 566px)" />
	<link rel="shortcut icon" href="assets/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="apple-touch-icon" sizes="54x54" href="assets/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-retina.png" />
</head>
<body>
	<nav>
		<ul>
			<li><a href="#main/dashboard">Dashboard</a></li>
			<li><a href="#shows/enabled">Shows</a></li>
			<li><a href="#shows/unmatched">Match</a></li>
			<li><a href="#main/settings">Settings</a></li>
		</ul>
	</nav>
	<div id="main" role="main"></div>
	<div id="modal">
		<div class="wrapper">
			<div class="close">&times;</div>
			<div class="content"></div>
		</div>
	</div>
	<div id="loading"><p>loading...</p></div>
	<script type="text/javascript" src="assets/js/require.js" data-main="assets/js/main.js"></script>
</body>
</html>