<!DOCTYPE html>
<html>
<head>
	<title>NodeTV</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(max-device-width: 566px)" />
	<link rel="shortcut icon" href="assets/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="apple-touch-icon" sizes="54x54" href="assets/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-retina.png" />
</head>
<body>
	<div id="install">
		<h1>Install NodeTV</h1>
		<form action="/install" method="post">
			
			<dl>
				<dt>Media Directory</dt>
				<dd><input type="text" name="shows:base" /></dd>
			</dl>
			
			
			
			<input type="submit" value="Login" />
		</form>
	</div>
</body>
</html>