<!DOCTYPE html>
<html>
<head>
	<title>NodeTV</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<link rel="shortcut icon" href="assets/icons/favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/login.css" />
	
	<link rel="apple-touch-icon" sizes="54x54" href="assets/icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-touch-icon-retina.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="assets/icons/icon-ios7-iphone.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="assets/icons/icon-ios7-ipad.png" />
</head>
<body ng-controller="loginCtrl">
	
	<div class="container">
		<form class="form-signin" ng-submit="login()">
			<h2 class="form-signin-heading">Login required</h2>
			<input type="text" id="ipt_password" name="username" ng-model="username" class="form-control" placeholder="Username" required autofocus>
			<input type="password" id="ipt_password" name="password" ng-model="password" class="form-control" placeholder="Password" required>
			
			<label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>

	<!--
	<div id="login">
		<form action="/login" method="post">
			<div>
				<label for="ipt_username">Username</label>
				<input id="ipt_username" type="text" name="username" />
			</div>
			<div>
				<label for="ipt_password">Password</label>
				<input id="ipt_password" type="password" name="password" />
			</div>
			<input type="submit" value="Login" />
		</form>
	</div>
	-->
	
	<script type="text/javascript" src="assets/js/require.js" data-main="assets/js/init.js"></script>
</body>
</html>