<div id="dashboard">
	<div class="alert alert-warning" ng-if="unmatched!=0">
		There are <a href="/shows/match" class="alert-link">unmatched shows</a> that need updating
	</div>
	
	<div ng-if="latest.length>=1">
		<div class="page-header">
			<h3>Latest Shows</h3>
		</div>
		<div class="panel panel-default" ng-repeat="episode in latest | orderBy:['airdate','show_name']:true" ng-controller="episodeCtrl">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-eye-open pull-right" title="Episode has been watched" ng-if="episode.watched" ng-click="watched()"></span>
				<span class="glyphicon glyphicon-eye-close pull-right" title="Episode has not been watched" ng-if="!episode.watched" ng-click="watched()"></span>
				<h4 class="panel-title">{{episode.show_name}} <span class="small">{{episode.title}}</span></h4>
			</div>
			<div class="panel-body">
				<div><strong>Season {{episode.season}}, Episode {{episode.episode}}</strong> <span class="small">{{episode.airdate*1000 | date:'dd MMMM yyyy'}}</span></div>
				<p>{{episode.synopsis}}</p>
			</div>
		</div>
	</div>
	
	<div ng-if="upcoming.length>=1">
		<div class="page-header">
			<h3>This Week</h3>
		</div>
		<div ng-repeat="day in upcoming">
			<div class="panel panel-default" ng-repeat="episode in day.episodes">
				<div class="panel-heading">
					<h4 class="panel-title">{{episode.show.title}} <span class="small">{{episode.episode.title}}</span></h4>
				</div>
				<div class="panel-body">
					<div><strong>Season {{episode.episode.season}}, Episode {{episode.episode.number}}</strong> <span class="small">{{episode.episode.first_aired*1000 | date:'dd MMMM yyyy'}}</span></div>
					<p>{{episode.episode.overview}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">System details</h4>
		</div>
		<div class="panel-body">
			Version: {{stats.version}}
		</div>
	</div>
	
</div>