<div id="dashboard">
	
	<div class="alert alert-warning" ng-if="unmatched!=0">
		There are <a href="#/match" class="alert-link">unmatched shows</a> that need updating
	</div>
	
	<div>
		<h2>Latest Shows</h2>
		<div class="latest" ng-repeat="item in latest">
			<h4>{{item.name}} : {{item.title}}</h3>
			<h5>{{item.airdate}} : Season {{item.season}}, Episode {{item.episode}}</h4>
			<p class="synopsis">{{item.synopsis}}</p>
		</div>
	</div>
	
	<div class="stats">
		Version: {{stats.version}}
	</div>
</div>