<div id="downloads">
	<!--
	<div class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="" ng-click="predicate='name';reverse=!reverse;sort='Name'">Name</a></li>
					<li><a href="" ng-click="predicate='startDate';reverse=!reverse;sort='Age'">Age</a></li>
					<li><a href="" ng-click="predicate='uploadRatio';reverse=!reverse;sort='Ratio'">Ratio</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	-->
	
	<form class="" role="search">
		<div class="form-group">
			<label for=""></label>
			<input type="text" class="form-control" placeholder="Search" ng-model="search.name">
		</div>
	</form>
	
	<div class="download" ng-repeat="download in downloads | orderBy:predicate:reverse | filter:search">
		<button class="btn btn-xs btn-danger pull-right" ng-click="remove(download.id);">Remove</button>
		<h4>{{download.name}}</h4>
		<div class="progress progress-striped">
			<div class="progress-bar" role="progressbar" style="width: {{download.percentDone*100}}%;" ng-class="{'progress-bar-success': download.percentDone==1}">
				{{download.percentDone*100 | number:2}}%
			</div>
		</div>
	</div>
</div>