<div id="downloads">
	<div class="form-group">
		<label></label>
		<div class="input-group">
			<input type="text" class="form-control search" placeholder="Filter Downloads..." ng-model="search.name">
			<span class="input-group-addon" ng-click="search.name=''"><span class="glyphicon glyphicon-remove"></span></span>
		</div>
	</div>
	<div class="download" ng-repeat="download in downloads | orderBy:predicate:reverse | filter:search">
		<button class="btn btn-xs btn-danger pull-right" ng-click="remove(download.id);">Remove</button>
		<h4>{{download.name}}</h4>
		<div class="progress progress-striped">
			<div class="progress-bar" role="progressbar" style="width: {{download.percentDone*100}}%;" ng-class="{'progress-bar-success': download.percentDone==1}">
				{{download.percentDone*100 | number:2}}%
			</div>
		</div>
	</div>
</div>