<div id="login">
	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Login required</h2>
			
		<input type="text" id="ipt_password" name="username" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
		<input type="password" id="ipt_password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required>
	
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>
