<div id="shows">
	<div class="row search">
		
		<div class="col-sm-12">
			
			<div class="input-group">
				<span class="input-group-addon btn btn-primary"><span class="fa fa-filter"></span></span>
				<input type="text" class="form-control search" placeholder="Search library..." ng-model="filter.string.title" />
				<span class="input-group-addon btn btn-success" ui-sref="shows.add"><span class="fa fa-plus"></span></span>
				<span class="input-group-addon btn btn-danger" ng-click="clearFilter()"><span class="fa fa-times"></span></span>
			</div>
			<!--div class="col-sm-12 well filter">
				<label><input type="checkbox" ng-model="filter.watched" ng-change="update()" /> Hide Watched</label>
			</div-->
		</div>
	</div>
	
	<div class="row">
		<div ng-show="movies.length" class="col-sm-12" style="text-align: right;">
			Showing {{results.length}} of {{movies.length}} movies
		</div>
	</div>
	
	<div class="row">
		<div class="show col-sm-2" ng-repeat="movie in results = (movies | filter:filter.string) | orderBy:'title'">
			
			<div class="image">
				<div class="corner"></div>
				<a ui-sref="movie.detail({movie: movie.tmdb})">
					<img data-src="/media/{{settings.movies.directory}}/{{movie.title}}.jpg" alt="" class="img-responsive" />
					<h6>{{movie.title}}</h6>
					<div class="overlay">
						<div class="title">{{movie.title}}</div>
						<div class="hud">
							<!-- <span class="fa fa-exchange" ng-if="!!show.trakt" title="Synchronized with Trakt"></span> -->
						</div>
					</div>
				</a>
				<div class="actions">
					<!--
					<span class="fa fa-cloud-download" title="Download all available episodes"></span>
					<span class="fa fa-eye" title="Mark entire series as watched"></span>
					-->
				</div>				
			</div>
			<div class="title"><a ui-sref="movie.detail({movieid: movie.tmdb})">{{movie.title}}</a></div>
		</div>
		<div class="col-sm-12" ng-show="!results.length" style="text-align: center;">
			No matches found
		</div>
	</div>
</div>