<div id="movies">
	<form class="form-group">
		<label></label>
		<div class="input-group">
			<input type="text" class="form-control search" placeholder="Search movie library..." ng-model="filter.name" />
			<span class="input-group-addon" ng-click="filter.name=''"><span class="fa fa-trash-o"></span></span>
		</div>
	</form>
	<div class="row">
		<div class="movie col-sm-2" ng-repeat="movie in movies | orderBy:'title' | filter:filter" ng-click="view(show.tvdb)">
			<div class="image">
				<img data-src="/media/{{settings.movies.directory}}/{{movie.title}}.cover.jpg" alt="" class="img-responsive" />
			</div>
			<div>{{movie.title}}</div>
		</div>
	</div>
</div>