<div id="settings">
	<form name="settingsForm" ng-submit="save()">
		<tabset>
			<tab heading="General">
				<accordion close-others="true">
					<accordion-group heading="Server" class="panel-info">
						<div ng-include="'/views/partials/settings/server.html'"></div>
					</accordion-group>
					<accordion-group heading="Database" class="panel-info">
						<div ng-include="'/views/partials/settings/database.html'"></div>
					</accordion-group>
					<accordion-group heading="Files" class="panel-info">
						<div ng-include="'/views/partials/settings/files.html'"></div>
					</accordion-group>
					<accordion-group heading="Transmission" class="panel-info">
						<div ng-include="'/views/partials/settings/transmission.html'"></div>
					</accordion-group>
					<accordion-group heading="Trakt" class="panel-info">
						<div ng-include="'/views/partials/settings/trakt.html'"></div>
					</accordion-group>
				</accordion>
			</tab>
			
			<tab heading="Security">
				<accordion>
					<accordion-group heading="Users" class="panel-info">
						<div ng-include="'/views/partials/settings/user.html'"></div>
					</accordion-group>
					<accordion-group heading="Network" class="panel-info">
						<div ng-include="'/views/partials/settings/network.html'"></div>
					</accordion-group>
				</accordion>
			</tab>
			<tab heading="System">
				<accordion close-others="true">
					<accordion-group heading="Updates" class="panel-warning">
						<div ng-include="'/views/partials/settings/update.html'"></div>
					</accordion-group>
					<accordion-group heading="Library" class="panel-warning">
						<div ng-include="'/views/partials/settings/library.html'"></div>
					</accordion-group>
				</accordion>
			</tab>
		</tabset>
		<div class="toolbar" ng-show="settingsForm.$dirty">
			<button type="submit" class="btn btn-success">Save settings</button>
		</div>
	</form>
</div>