<div id="shows">
	<form class="form-group">
		<label></label>
		<div class="input-group">
			<input type="text" class="form-control search" autofocus="true" placeholder="Search show library..." ng-model="filter.name" />
			<span class="input-group-addon" ng-click="filter.name=''">&times;</span>
		</div>
	</form>
	<div class="row">
		<div class="show col-sm-2" ng-click="modalAdd()">
			<div class="image"></div>
			<div>Add Show</div>
		</div>
		<div class="show col-sm-2" ng-repeat="show in shows | orderBy:'name' | filter:filter" ng-click="details(show.tvdb)">
			<div class="image">
				<img data-src="/media/{{show.directory}}/poster.jpg" alt="" class="img-responsive" />
			</div>
			<div>{{show.name}}</div>
		</div>
	</div>
</div>


<div id="add-modal" class="modal" role="dialog" ng-controller="searchCtrl" ng-cloak>
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="save()">
				<div class="modal-header">
					<span class="input-group">
						<input type="text" list="shows-available" class="form-control search" autofocus="true" placeholder="Type to search" ng-model="query" ng-change="search()" />
						<span class="input-group-addon" ng-click="reset()">&times;</span>
					</span>
				</div>
				<div class="modal-body" ng-show="results">
					<div class="results">
						<div class="result" ng-repeat="result in results" ng-class="{selected: $parent.selected==result.tvdb_id}" ng-click="$parent.selected=result.tvdb_id">
							<img src="{{result.images.poster | traktPoster}}" />
							<strong>{{result.title}}</strong>
							<p class="synopsis">{{result.overview || 'No synopsis available'}}</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-show="selected">Add Show</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="show-modal" class="modal" role="dialog" ng-controller="showCtrl" ng-cloak>
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="save()">
				<div class="modal-header">
					<img src="media/{{detail.summary.directory}}/banner.jpg" alt="{{detail.summary.name}}" class="img-responsive" />
				</div>
				<div class="modal-body">
					<ul class="nav nav-pills">
						<li class="active"><a href="#synopsis" data-toggle="tab">About</a></li>
						<li><a href="#episodes" data-toggle="tab">Episodes</a></li>
						<li><a href="#options" data-toggle="tab">Settings</a></li>
					</ul>
					<br />
					<div class="tab-content">
						<div class="tab-pane active" id="synopsis">
							<div class="synopsis well">
								{{detail.summary.synopsis || 'No synopsis available'}}
							</div>
						</div>
					
						<div class="tab-pane" id="episodes">
							<div id="seasons" class="panel-group">
								<div class="panel panel-default" ng-repeat="season in detail.listing | orderBy:'season':true" ng-controller="seasonCtrl">
									<div class="panel-heading" data-toggle="collapse" data-parent="#seasons" href="#season-{{season.season}}">
										<h4 class="panel-title">
											<span class="glyphicon glyphicon-eye-close pull-right" ng-if="!seen" title="Mark season as watched" ng-click="watched()"></span>
											<span ng-if="season.season==0">Specials</span>
											<span ng-if="season.season>=1">Season {{season.season}}</span>
										</h4>
									</div>
									<div id="season-{{season.season}}" class="season panel-collapse collapse">
										<div class="panel-body">
											<div>
											<!-- Mark season as watched -->
											</div>
											<div class="episode" ng-repeat="episode in season.episodes | orderBy:'episode'" ng-controller="episodeCtrl">
												
												<h5 class="title"><span class="small">{{episode.episode | zeroPad:2}}</span>{{episode.title || 'TBA'}}</h5>
												
												<div class="extended">
													<p class="synopsis" ng-if="episode.synopsis">{{episode.synopsis || 'No synopsis available'}}</p>
													
													<div class="tools">
														<span ng-if="!hasAired()">
															<span class="glyphicon glyphicon-time"></span>
															{{episode.airdate*1000 | date:'yyyy-MM-dd'}}
														</span>
														
														<span class="glyphicon glyphicon-eye-close action" title="Mark episode as watched" ng-if="episode.file && !episode.watched" ng-click="watched()"></span>
														<span class="glyphicon glyphicon-eye-open action" title="Episode has been watched" ng-if="episode.file && episode.watched" ng-click="watched()"></span>
														
														<span class="glyphicon glyphicon-cloud-download action" title="Download this episode" ng-if="!episode.file && episode.hash" ng-click="download()"></span>
														<span class="glyphicon glyphicon-hdd" title="This episode has been downloaded" ng-if="episode.status && episode.file"></span>
														
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div class="tab-pane" id="options" ng-switch="detail.summary.status">
							<div class="form-group">
								<label for="ipt_setting_directory">Media Directory</label>
								<input type="text" ng-model="detail.displaypath" readonly="readonly" class="form-control" />
							</div>
							<div class="form-group">
								<input type="checkbox" name="status" ng-model="detail.summary.status" ng-checked="detail.summary.status" />
								<label for="ipt_setting_status">Download new episodes when available</label>
							</div>
							<div class="form-group" ng-switch-when="true">
								<label for="ipt_setting_feed">RSS Feed</label>
								<input type="text" name="feed" ng-model="detail.summary.feed" class="form-control" />
							</div>
							<div class="form-group" ng-switch-when="true">
								<input type="checkbox" name="hd" ng-model="detail.summary.hd" ng-checked="detail.summary.hd" />
								<label for="ipt_setting_hd">Prefer HD video</label>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-info" ng-click="update()">Update listings</button>
								<button type="button" class="btn btn-warning" ng-click="rescan()">Rescan Files</button>
								<button type="button" class="btn btn-danger" ng-click="remove()">Remove Show</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>