<div id="shows">
	<form class="form-group">
		<label></label>
		<div class="input-group">
			<input type="text" class="form-control search" autofocus="true" placeholder="Search show library..." ng-model="filter.name" />
			<span class="input-group-addon" ng-click="filter.name=''">&times;</span>
		</div>
	</form>
	<div class="row">
		<div class="show col-sm-2" ng-click="add()">
			<div class="image"></div>
			<div>Add Show</div>
		</div>
		<div class="show col-sm-2" ng-repeat="show in shows | orderBy:'name' | filter:filter" ng-click="details(show.tvdb)">
			<div class="image">
				<img data-src="/media/{{show.directory}}/poster.jpg" alt="" class="img-responsive" />
			</div>
			<div>{{show.name}}</div>
		</div>
	</div>
</div>

<ng-include src="'views/modal/add.html'"></ng-include>
<ng-include src="'views/modal/show.html'"></ng-include>
