$border: #EEEEEE;
$break-large: 768px;
$break-small: 767px;

body {
	background-color: #F7F7F7;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-weight: 200;
	padding-top: 50px;
}

/* Global elements */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.accordion-toggle, .nav, .pagination, .carousel a {
	cursor: pointer;
}
.navbar-inverse {
	background-color: rgba(0,0,0,0.9);
}
/* Form elements */
input[type="search"], input.search {
	text-transform: capitalize;
}
input.ng-invalid {
	border: 1px solid #E9322D;
	box-shadow: 0 0 6px #f8b9b7;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
}

input.form-control:nth-last-child(2){
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
input.form-control+input.form-control {
	border-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}


/* Alerts */

.alert-container {
	height: auto;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 1030;
}

/* Login form */

.form-signin {
	background-color: #FFFFFF;
	border: 1px solid $border;
	border-radius: 10px;
	margin: 20px auto 0px;
	max-width: 290px;
	padding: 10px;
	
	h2 {
		margin: 0px 0px 10px;
		text-align: center;
	}
	
	input[type="text"] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

/* Modals */

.modal-dialog {
	bottom: 10px;
	height: auto;
	left: 10px;
	margin: 0px auto;
	max-width: 600px;
	pointer-events: all;
	position: absolute;
	right: 10px;
	top: 10px;
	width: auto;
	
	.modal-header {
		position: relative;
		
		>img {
			border-radius: 6px 6px 0px 0px;
		}
	}
	.modal-body {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}

/* Dashboard */

#dashboard {
	.panel.watched {
		opacity: 0.3;
	}
	.panel-heading {
		> span {
			cursor: pointer;
		}
	}
	.small {
		color: inherit;
		padding-left: 10px;
		white-space: nowrap;
	}
	
	@media screen and (max-width: $break-small) {
		.small {
			display: block;
			padding-left: 0px;
			padding-top: 5px;
		}
		.thumbnail {
			display: block;
			width: 100%;
			max-width: 400px;
		}
	}
	@media screen and (min-width: $break-large) {
		.thumbnail {
			float: left; 
			margin-right: 10px;
			width: 120px;
		}
	}
}


/* Shows */

.modal-add {
	.modal-header {
		border-bottom: none;
	}
	.result {
		border-bottom: 1px solid $border;
		box-sizing: border-box;
		cursor: pointer;
		height: 100px;
		overflow: hidden;
		padding: 5px;
		position: relative;
		
		img {
			float: left;
			height: 90px;
			margin-right: 5px;
			width: 61px;
		}
		.synopsis {
			font-size: 12px;
			max-height: 69px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.result:last-child {
		border-bottom: none;
	}
	.result.selected {
		background-color: #DFF0D8;
	}
}

.modal-show {
	.modal-header {
		padding: 0px;
	}
	.modal-footer {
		margin-top: 0px;
	}
	.nav {
		margin-bottom: 10px;
	}
	
	.seasons {
		.panel-heading {
			cursor: pointer;
		}
		.season {
			.episode {
				border-bottom: 1px solid $border;
				.title {
					cursor: pointer;
					margin-left: 20px;
					> .small {
						padding-right: 8px;
						margin-left: -20px;
					}
				}
				.extended {
					display: none;
					padding-bottom: 10px;
					
					.tools {
						font-size: 16px;
						height: 22px;
						margin-left: 10px;
						text-align: left;
						
						>span {
							display: inline-block;
							margin-left: 10px;
						}
						
						>span.action {
							cursor: pointer;
							float: right;
						}
					}
					@media screen and (min-width: $break-large){
						.synopsis {
							margin-left: 20px;
						}
					}
				}
			}
			.episode:last-child {
				border-bottom: none;
			}
			.episode.unaired {
				.title {
					color: #CCCCCC;
				}
				.extended .tools {
					font-size: 14px;
					text-align: right;
				}
			}
		}
	}
}

#shows {
	div.search {
		padding: 10px 0px;
	}
	.input-group-addon {
		cursor: pointer;
	}
	div.image {
		display: none;
	}
	div.title {
		
	}
	.show {
		border-bottom: 1px solid $border;
		padding: 10px;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	@media screen and (min-width: $break-large){
		.show {
			border: none;
			height: 200px;
			padding: 10px 0px 0px;
			text-align: center;
			div.image {
				background-color: #666666;
				background-image: url('../gfx/no-cover.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				box-shadow: 0px 0px 5px black;
				display: block;
				height: 174px;
				margin: 0px auto 5px;
				position: relative;
				transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-webkit-transition: all 0.5s;
				width: 118px;
				a {
					display: block;
					height: 100%;
					width: 100%;
				}
				img {
					display: none;
				}
				.actions {
					bottom: 0px;
					display: none !important;
					font-size: 20px;
					height: 35px;
					left: 0px;
					opacity: 0;
					position: absolute;
					right: 0px;
					transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-webkit-transition: all 0.5s;
					visibility: hidden;
					
					> .glyphicon {
						color: #AAAAAA;
						cursor: pointer;
						padding: 0px 5px;
						&:hover {
							color: #FFFFFF !important;
						}
					} 
				}
				
				.overlay {
					background-color: rgba(0,0,0,0.8);
					bottom: 0px;
					color: #FFFFFF;
					/* height: 35px; */
					left: 0px;
					opacity: 0;
					position: absolute;
					right: 0px;
					top: 0px;
					transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-webkit-transition: all 0.5s;
					visibility: hidden;
					
					> .title {
						font-size: 12px;
						font-weight: bold;
						padding: 20px 15px;
					}
				}
				&:hover {
					.actions {
						opacity: 1;
						visibility: visible;
					}
					.overlay {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			> .title {
				display: none;
			}
		}
	}
}

#movies {
	.input-group-addon {
		cursor: pointer;
	}
	div.image {
		display: none;
	}
	.movie {
		border-bottom: 1px solid $border;
		cursor: pointer;
		padding: 10px;
	}
	@media screen and (min-width: $break-large) {
		.movie {
			border: none;
			height: 160px;
			padding: 10px 0px 0px;
			text-align: center;
			div.image {
				background-color: #666666;
				background-image: url('../gfx/no-cover.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				box-shadow: 0px 0px 5px black;
				display: block;
				height: 100px;
				margin: 0px auto;
				transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-webkit-transition: all 0.5s;
				width: 68px;
			}
			> img {
				display: none;
			}
		}
	}
}

/* Downloads */

#downloads {
	div.search {
		padding: 10px 0px;
	}
	
	.download {
		border-bottom: 1px solid $border;
		box-sizing: border-box;
		margin: 0px;
		padding: 10px 5px;
		&.paused {
			color: #AAAAAA !important;
			.progress-bar {
				background-color: #AAAAAA !important;
			}
		}
		&:hover {
			background-color: $border;
		}
		h4 {
			height: 20px;
			margin: 0px 0px 5px;
			margin-top: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.progress {
			height: 10px;
			margin-bottom: 0px;
		}
		.stats {
			font-size: 12px;
			margin-top: 5px;
		} 
	}
}

/* Settings */

#install, #match, #settings {
	padding-bottom: 50px;
	
	.toolbar {
		background-color: $border;
		border-top: 1px solid $border;
		bottom: 0px;
		box-sizing: border-box;
		height: 45px;
		left: 0px;
		padding: 5px 10px;
		position: fixed;
		text-align: right;
		width: 100%;
	}
}

#settings {
	.nav {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
