@import url('reset.css');

html, body {
	background-color: #4E5969;
	height: 100%;
	width: 100%;
}

body {
	color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	height: auto;
	position: relative;
	width: 100%;
}

/* Basic elements */

a {
	color: #CCCCCC;
	font-weight: normal;
	text-decoration: none;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a:hover {
	color: #FFFFFF;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	border-bottom: 1px solid #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 0px;
}

dl {
	margin: 5px 0px;
}
dl > dt {
	font-weight: bold;
	margin: 5px 0px;
}
dl > dd {
	
}

/* Form elements */

input[type=text],input[type=password],select {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	font-size: 18px;
	height: 20px;
	padding: 2px;
	width: 250px;
}

input[type=button], input[type=submit], input[type=reset], a.button {
	background-color: #000000;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
}

input.toggle {
	display: none;
}

input.toggle + span.toggle {
	background-image: url('../gfx/switch.png');
	background-position: 0px -20px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 49px;
}
input.toggle + span.toggle.on {
	background-position: 0px 0px;
}

div.toolbar {
	text-align: right;
}

#login {
	background-color: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	display: block;
	height: 138px;
	margin: 15% auto;
	padding: 10px;
	width: 260px;
}
#login label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
#login input {
	border: 1px solid #FFFFFF;
}
#login div {
	margin-bottom: 10px;
}


/* Layout elements */

#loading {
	background-color: rgba(0,0,0,0.7);
	background-image: url('../gfx/spinner.gif');
	background-position: center center;
	background-repeat: no-repeat;
	bottom: 0px;
	cursor: wait;
	display: block;
	left: 0px;
	height: auto;
	pointer-events: all;
	position: fixed;
	right: 0px;
	top: 0px;
	width: auto;
	z-index: 100;
}
#loading > p {
	color: #CCCCCC;
	font-weight: bold;
	margin-top: 25px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

nav {
	background-color: #5C697B;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0px 0px 20px #000000;
	height: 35px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;
}
nav ul {
	border-collapse: collapse;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}
nav ul li {
	display: table-cell;
	height: 35px;
	position: relative;
	text-align: center;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	width: 25%;
}

nav ul li a {
	color: #CCCCCC;
	display: block;
	font-size: 18px;
	height: 100%;
	line-height: 35px;
	width: 100%;
}

#main {
	margin: 0px auto;
	max-width: 940px;
	padding: 50px 10px;
}

footer {
	bottom: 0px;
	display: none;
	font-size: 10px;
	height: 20px;
	left: 0px;
	position: fixed;
	width: 100%;
}

/*******/

#shows ul.shows li > div.image {
	display: none;
}

#main ul {
	font-size: 14px;
}

#main ul li a {
	display: block;
	height: 100%;
	width: 100%;
}
#main li > ul {
	display: none;
}
#main ul.shows {
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
#main ul.shows > li {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
	padding: 10px;
	position: relative;
}

#main ul.shows > li > a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/***************************/
/* Modal window */

#modal {
	background-color: rgba(0,0,0,0.7);
	bottom: 0px;
	left: 0px;
	display: none;
	position: fixed;
	pointer-events: all;
	right: 0px;
	top: 0px;
	z-index: 10;
}
#modal .wrapper {
	background-color: #000000;
	margin: 0px auto;
	max-width: 758px;
	height: 100%;
	overflow: auto;
	position: relative;
	width: auto;
}
#modal .wrapper > .close {
	background-image: url('../gfx/controls.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	color: #000000;
	cursor: pointer;
	font-size: 15px;
	height: 19px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	text-indent: -99px;
	top: 0px;
	width: 40px;
	z-index: 11;
}
#modal .wrapper > .close:hover {
	background-position: 0px -20px;
}
#modal .wrapper > .content {
	height: 100%;
	width: 100%;
}

/***************************/
/* Search */

#modal #search div.query {
	padding: 20px;
}
#modal #search div.query input.search {
	background-image: url('../gfx/icons/search.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	outline: none;
	padding-left: 25px;
	width: 80%;
}
#modal #search ul.results {
	border-top: 1px solid #686868;
	height: 290px;
	margin: 0px 20px;
	overflow: auto;
}
#modal #search ul.results li {
	border-bottom: 1px solid #686868;
	font-size: 20px;
	padding: 10px 0px;
}









ul.unmatched h2 {
	font-size: 20px;
}

ul.matches {
	display: block !important;
	margin: 10px;
}



#settings h2 {
	cursor: pointer;
}
#settings fieldset {
	display: none;
}


/****************************/
/* Dashboard */


#dashboard .latest li {
	border-bottom: 1px solid #AAAAAA;
	padding: 10px 0px;
}
#dashboard .latest h3 {
	font-size: 14px;
	font-weight: bold;
}
#dashboard .latest h4 {
	font-size: 12px;
}
#dashboard .latest p.synopsis {
	font-size: 12px;
	padding: 10px;
}



/****************************/
/* Series Information */

#modal #show {
	font-size: 11px;
	margin: 0px auto;
}

#modal #show .title {
	min-height: 50px;
	position: relative;
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

#modal #show .title > img {
	border: none;
	color: #FFFFFF;
	display: block;
	font-size: 20px;
	max-height: 140px;
	position: relative;
	width: 100%;
	z-index: 0;
}

#modal #show .title > img.blend {
	-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#modal #show h3 {
	border-bottom: 1px solid #686868;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 0px;
}

#modal #show div.synopsis {
	margin: 20px;
}

#modal #show div.synopsis p {
	color: #CCCCCC;
	cursor: help;
	font-size: 11px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#modal #show div.synopsis.open p {
	cursor: default;
	white-space: normal;
}


#modal #show .cog {
	background-image: url('../gfx/controls.png');
	background-position: -40px 0px;
	background-repeat: no-repeat;
	bottom: 3px;
	cursor: pointer;
	display: block;
	height: 19px;
	position: absolute;
	right: 5px;
	width: 40px;
}
#modal #show .cog:hover {
	background-position: -40px -20px;
}


#modal #show.settings .cog {
	/* background-image: url('../gfx/icons/cross.png'); */
}

#modal #show div.config {
	display: none;
	margin: 20px;
}

#modal #show.settings div.config {
	display: block;
}

#modal #show.settings div.synopsis,
#modal #show.settings div.episodes {
	display: none !important;
}

#modal #show div.config dl {
	margin: 10px 0px;
}
#modal #show div.config dl > dd {
	margin-bottom: 10px;
}


#modal #show div.episodes {
	font-size: 12px;
	height: auto;
	overflow: auto;
	margin: 20px;
}

#modal #show ul.seasons > li > h2 {
	border-bottom: 1px solid #686868;
	cursor: pointer;
	font-size: 14px;
	padding: 4px 0px;
}

#modal #show ul.episodes {
	display: none;
	padding-left: 0px;
}
#modal #show ul.episodes li {
	border-bottom: 1px solid #212121;
	color: #CCCCCC;
	padding: 10px 0px;
}
#modal #show ul.episodes li:last-child {
	border-bottom: none;
}

#modal #show ul.episodes li .header {
	
	display: table;
	/* margin: 10px 0px; */
	width: 100%;
}
#modal #show ul.episodes li .extended {
	color: #CCCCCC;
	display: none;
	margin-top: 10px;
}
#modal #show ul.episodes li .extended p.synopsis {
	margin: 0px 30px;
}
#modal #show ul.episodes li .extended .tools {
	text-align: right;
}



#modal #show ul.episodes li.downloading {
	color: #FFC200;
}
#modal #show ul.episodes li.downloaded {
	color: #FFFFFF;
}

/**/

ul.episodes li span {
	display: table-cell;
	width: auto;
}

ul.episodes li span.episode {
	padding-right: 10px;
	text-align: right;
	width: 20px;
}
ul.episodes li span.title {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
ul.episodes li span.airdate {
	display: none;
	text-align: right;
	width: 85px;
}
ul.episodes li.aired span.airdate {
	display: none !important
}
ul.episodes li.downloaded span.airdate {
	display: table-cell !important;
}

ul.episodes li span.download {
	text-align: right;
	width: 85px;
}

ul.episodes li.upcoming span.download,
ul.episodes li.downloaded span.download {
	display: none !important;
}

/* Media Queries */

@media (max-width: 600px) {
/*@media (device-aspect-ratio: 40/71), (device-aspect-ratio: 2/3) {*/
	/* iPhone - iOS7 styling */
	html, body {
		background-color: #FFFFFF;
		font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
		letter-spacing: 1px;
	}
	body {
		color: #999999;
	}
	h2 {
		font-weight: 100;
		border-bottom: 1px solid #CCCCCC;
	}
	#main input[type=button], #main input[type=submit], #main input[type=reset], #main a.button {
		background-color: #F5F5F5;
		border: none;
		color: #FF0000;
	}
	nav {
		background-color: #F5F5F5;
		box-shadow: none;
		font-family: 'HelveticaNeue-UltraLight';
	}
	nav ul li a {
		color: #FF0000 !important;
		font-size: 15px;
		font-weight: 100;
	}
	nav ul li:hover a {
		color: #000000 !important;
	}
	#shows ul.shows {
		border: none;
	}
	#shows ul.shows > li {
		border-bottom: 1px solid #F5F5F5 !important;
	}
	#shows ul.shows > li > a {
		color: #999999;
		font-size: 18px;
		font-weight: normal;
	}
	#shows ul.shows > li:hover > a {
		color: #FF0000;
	}
}

@media (max-width: 600px) {	
	#shows ul.shows > li.show-add > a {
		text-align: right;
		max-width: 100%;
	}
	#shows ul.shows > li > img {
		display: none;
	}
	ul.shows > li > a.show {
		opacity: 1 !important;
	}
}

@media (min-width: 600px) {
	/* Desktop */
	#shows ul.shows.grid {
		border: none;
	}
	#shows ul.shows.grid li {
		border: none;
		cursor: pointer;
		display: inline-block;
		height: 120px;
		padding: 0px 0px 10px;
		text-align: center;
		margin: 0px auto;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 25%;
		z-index: auto;
	}
	#shows ul.shows.grid li:hover {
		z-index: 5;
	}
	#shows ul.shows.grid li > div.image {
		background-color: #000000;
		background-image: url('../gfx/no-cover.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 1px solid #FFFFFF;
		display: block;
		height: 100px;
		margin: 0px auto;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 68px;
	}
	#shows ul.shows.grid li > div.image > img {
		display: none;
		height: 100%;
		width: 100%;
	}
	#shows ul.shows.grid li > div.image:hover {
		box-shadow: #000000 0px 0px 20px;
		height: 200px;
		margin-top: -50px;
		width: 136px;
	}
	#shows ul.shows.grid li > a {
		color: #FFFFFF !important;
		font-size: 11px;
		height: auto;
		margin: 10px 0px 0px;
		max-width: 100%;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: auto;
	}
	#shows ul.shows.grid li:hover > a {
		text-shadow: #000000 0px 2px 10px;
	}
	
	#show ul.episodes li span.airdate {
		display: table-cell;
	}
}
@media screen and (min-width: 780px) {
	#shows ul.shows.grid li {
		width: 20%;
	}
}