body {
	background-color: #F7F7F7;
	padding-top: 50px;
}
	
#loading {
	background-color: rgba(0,0,0,0.7);
	background-image: url('../gfx/spinner.gif');
	background-position: center center;
	background-repeat: no-repeat;
	bottom: 0px;
	cursor: wait;
	display: block;
	left: 0px;
	height: auto;
	pointer-events: all;
	position: fixed;
	right: 0px;
	top: 0px;
	width: auto;
	z-index: 100;
}

#loading > p {
	color: #CCCCCC;
	font-weight: bold;
	margin-top: 25px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

#modal {
	display: none;
}

#shows div.image {
	display: none;
}

#shows .show {
	border-bottom: 1px solid #333333;
	cursor: pointer;
	padding: 10px;
}

@media screen and (min-width: 768px) {
	#shows .show {
		border: none;
		height: 160px;
		padding: 10px 0px 0px;
		text-align: center;
	}
	
	#shows .show div.image {
		background-color: #666666;
		background-image: url('../gfx/no-cover.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 1px solid #FFFFFF;
		display: block;
		height: 100px;
		margin: 0px auto;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 68px;
	}
	#shows .show div.image > img {
		display: none;
	}

}

