<div id="shows">
	<div class="row search">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon btn btn-primary" ng-click="filter.active=!filter.active" ng-class="{'active':filter.active}"><span class="fa fa-filter"></span></span>
				<input type="text" class="form-control search" placeholder="Search library..." ng-model="filters.title" />
				
				<span class="input-group-addon btn btn-info" ui-sref="shows.random"><span class="fa fa-random"></span></span>
				<span class="input-group-addon btn btn-success" ui-sref="shows.add"><span class="fa fa-plus"></span></span>
				<span class="input-group-addon btn btn-danger" ng-click="clearFilter()"><span class="fa fa-times"></span></span>
			</div>
		</div>
	</div>
	<div class="row" ng-if="filter.active">
		<div class="col-sm-2">
			<select class="form-control" ng-model="filter.genre" ng-options="value for value in genres.shows">
				<option value="">&raquo; All Genres</option>
			</select>
		</div>
		<div class="col-sm-2">
			<div class="checkbox"><label><input type="checkbox" ng-model="filter.watched" /> Hide watched</label></div>
		</div>
	</div>
	
	<div class="row">
		<div class="show col-sm-2" ng-show="results.length" ng-repeat="show in results = (shows | filter:showFilter) | orderBy:definiteArticle | offset:(paginate.page-1)*paginate.items | limitTo:paginate.items" ng-controller="showCtrl" lazy-load>
			<div class="image" ng-class="{'ended': show.ended}">
				<span class="badge unwatched" ng-if="show.progress.left>0">{{show.progress.left}}</span>
				<div class="corner"></div>
				<a ui-sref="shows.detail({showid: show.tvdb})">
					<img data-src="/media/{{settings.media.shows.directory}}/{{show.directory}}/poster.jpg" alt="" class="img-responsive" />
					<h6>{{show.name}}</h6>
					<div class="overlay">
						<div class="title">{{show.name}}</div>
						<div class="hud">
							<span class="fa fa-rss" ng-if="show.status && !!show.feed" title="RSS feed enabled"></span>
							<span class="fa fa-exchange" ng-if="!!show.trakt" title="Synchronized with Trakt"></span>
							<span class="fa fa-exclamation-circle" ng-if="show.ended" title="Series ended/cancelled"></span>
						</div>
						<progress animate="false" title="{{show.progress.percentage}}% Watched">
							<bar type="success" value="show.progress.percentage"></bar>
							<bar type="danger" value="100-show.progress.percentage"></bar>
						</progress>
					</div>
				</a>
				<div class="actions">
					<span class="fa fa-cloud-download" title="Download all available episodes"></span>
					<span class="fa fa-eye" title="Mark entire series as watched"></span>
				</div>				
			</div>
			<div class="title">
				<a ui-sref="shows.detail({showid: show.tvdb})">
					{{show.name}}
					<span class="badge pull-right" ng-if="show.progress && show.progress.left>0">{{show.progress.left}}</span>
				</a>
			</div>
		</div>
		<div class="col-sm-12" ng-show="!results.length" style="text-align: center;">
			No matches found
		</div>
	</div>
	
	<div class="text-center" ng-show="results.length>=paginate.items" ng-cloak>
		<pagination class="hidden-xs pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="paginate.items" total-items="results.length" ng-model="paginate.page" max-size="5" boundary-links="true"></pagination>
		<pager class="visible-xs pagination-sm" items-per-page="paginate.items" total-items="results.length" ng-model="paginate.page"></pager>
	</div>
</div>