<div id="shows">
	<div class="row search">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon btn btn-info" ui-sref="shows.random"><span class="fa fa-random"></span></span>
				<input type="text" class="form-control search" placeholder="Search library..." ng-model="filters.name" />
				
				<span class="input-group-addon btn btn-success" ui-sref="shows.add"><span class="fa fa-plus"></span></span>
				<span class="input-group-addon btn btn-danger" ng-click="clearFilter()"><span class="fa fa-times"></span></span>
			</div>
		</div>
		<!--
		<div class="col-sm-12" style="text-align: right;">
			<div class="checkbox-inline"><label><input type="checkbox" ng-model="reduce.unstarted" /> Hide Unstarted</label></div>
			<div class="checkbox-inline"><label><input type="checkbox" ng-model="reduce.watched" /> Hide Watched</label></div>
		</div>
		-->
	</div>
	
	<div class="row">
		<div ng-show="shows.length" class="col-sm-12" style="text-align: right;">
			Showing {{results.length}} of {{shows.length}} shows
		</div>
	</div>
	
	
	<div class="row">
		<div class="show col-sm-2" ng-show="results.length" ng-repeat="show in results = (shows | filter:filters | filter:reduceShows) | orderBy:definiteArticle" ng-controller="showCtrl" lazy-load>
			<div class="image" ng-class="{'ended': show.ended}">
				<span class="badge unwatched" ng-if="show.progress.left>0">{{show.progress.left}}</span>
				<div class="corner"></div>
				<a ui-sref="shows.detail({showid: show.tvdb})">
					<img data-src="/media/{{settings.media.shows.directory}}/{{show.directory}}/poster.jpg" alt="" class="img-responsive" />
					<h6>{{show.name}}</h6>
					<div class="overlay">
						<div class="title">{{show.name}}</div>
						<div class="hud">
							<span class="fa fa-rss" ng-if="show.status && !!show.feed" title="RSS feed enabled"></span>
							<span class="fa fa-exchange" ng-if="!!show.trakt" title="Synchronized with Trakt"></span>
							<span class="fa fa-exclamation-circle" ng-if="show.ended" title="Series ended/cancelled"></span>
						</div>
						<progress animate="false" title="{{show.progress.percentage}}% Watched">
							<bar type="success" value="show.progress.percentage"></bar>
							<bar type="danger" value="100-show.progress.percentage"></bar>
						</progress>
					</div>
				</a>
				<div class="actions">
					<span class="fa fa-cloud-download" title="Download all available episodes"></span>
					<span class="fa fa-eye" title="Mark entire series as watched"></span>
				</div>				
			</div>
			<div class="title">
				<a ui-sref="shows.detail({showid: show.tvdb})">
					{{show.name}}
					<span class="badge pull-right" ng-if="show.progress && show.progress.left>0">{{show.progress.left}}</span>
				</a>
			</div>
		</div>
		<div class="col-sm-12" ng-show="!results.length" style="text-align: center;">
			No matches found
		</div>
	</div>
</div>