<div class="modal-header">
	<h3 class="modal-title">{{movie.title}} <span class="small">{{movie.year}}</span></h3>
	<div class="small">
		<span ng-if="movie.runtime"><strong>{{movie.runtime}} mins</strong></span>
		&nbsp;
		<span class="pull-right" ng-if="movie.quality"><strong>{{movie.quality}}</strong></span>
	</div>
</div>

<div class="modal-body">
	<div class="well">{{movie.synopsis}}</div>
</div>
<div class="modal-footer">
	
	<div class="btn-group pull-left" ng-if="movie.hashes">
		<button type="button" class="btn btn-default" ng-repeat="dl in movie.hashes" ng-click="download(dl)" ng-class="{'active': dl.quality == movie.quality}">
			<span class="fa fa-download"></span> {{dl.quality}}
		</button>
	</div>
	
	<button class="btn btn-default pull-left" ng-if="!movie.hashes" ng-click="hashes()">
		<span class="fa fa-refresh"></span> Check availability
	</button>
	
	<button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>