body {
	background-color: #F7F7F7;
	font-weight: 200;
	padding-top: 50px;
}

/* Global elements */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.9);
}

/* Alerts */

.alert-container {
	height: auto;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 1030;
}

/* Modals */
.modal .modal-body {
	/* fix this based on screen sizes */
	max-height: 320px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}


.modal-header > img {
	border-radius: 6px 6px 0px 0px;
}

/* Dashboard */

#dashboard .latest {
	border-bottom: 1px solid #999999;
}
#dashboard .latest .synopsis {
	display: none;
}

/* Shows */

#shows div.image {
	display: none;
}

#shows .show {
	border-bottom: 1px solid #EEEEEE;
	cursor: pointer;
	padding: 10px;
}

#show-modal .modal-header {
	padding: 0px;
}

#seasons .panel-heading {
	cursor: pointer;
}

/* Downloads */

#downloads .download {
	border-bottom: 1px solid #EEEEEE;
}
#downloads .download h4 {
	margin-right: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Settings */

#match, #settings {
	padding-bottom: 50px;
}

#match .toolbar,
#settings .toolbar {
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	bottom: 0px;
	box-sizing: border-box;
	height: 45px;
	left: 0px;
	padding: 5px 10px;
	position: fixed;
	text-align: right;
	width: 100%;
}

.modal-header {
    position: relative;
}
.close.close-corner {
	margin: 0;
	opacity: 1;
	position: absolute;
	right: -10px;
	top: -10px;
}

@media screen and (min-width: 768px) {
	#shows .show {
		border: none;
		height: 160px;
		padding: 10px 0px 0px;
		text-align: center;
	}
	
	#shows .show div.image {
		background-color: #666666;
		background-image: url('../gfx/no-cover.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 1px solid #FFFFFF;
		display: block;
		height: 100px;
		margin: 0px auto;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 68px;
	}
	#shows .show div.image > img {
		display: none;
	}

}

