body {
	background-color: #F7F7F7;
	font-weight: 200;
	padding-top: 50px;
}

/* Global elements */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.9);
}

/* Alerts */

.alert-container {
	height: auto;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 1030;
}

/* Login form */

.form-signin {
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
	margin: 20px auto 0px;
	max-width: 290px;
	padding: 10px;
}
.form-signin h2 {
	margin: 0px 0px 10px;
	text-align: center;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Modals */

.modal-dialog {
	bottom: 10px;
	height: auto;
	left: 10px;
	margin: 0px auto;
	max-width: 600px;
	pointer-events: all;
	position: absolute;
	right: 10px;
	top: 10px;
	width: auto;
}
.modal-body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.modal-header > img {
	border-radius: 6px 6px 0px 0px;
}

/* Dashboard */

#dashboard .latest {
	border-bottom: 1px solid #EEEEEE;
}
#dashboard .latest .synopsis {
	display: none;
}

#dashboard .small {
	white-space: nowrap;
}

/* Shows */

#add-modal .result {
	border-bottom: 1px solid #EEEEEE;
	box-sizing: border-box;
	cursor: pointer;
	height: 100px;
	overflow: hidden;
	padding: 5px;
	position: relative;
}
#add-modal .result.selected {
	background-color: #DFF0D8;
}

#add-modal .result img {
	float: left;
	height: 90px;
	margin-right: 5px;
}

#add-modal .result .synopsis {
	font-size: 12px;
	max-height: 69px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#shows .input-group-addon {
	cursor: pointer;
}

#shows div.image {
	display: none;
}

#shows .show {
	border-bottom: 1px solid #EEEEEE;
	cursor: pointer;
	padding: 10px;
}

#show-modal .modal-header {
	padding: 0px;
}

#seasons .panel-heading {
	cursor: pointer;
}


#seasons .season .episode {
	border-bottom: 1px solid #EEEEEE;
}
#seasons .season .episode:last-child {
	border-bottom: none;
}
#seasons .season .episode .title {
	cursor: pointer;
	margin-left: 20px;
}
#seasons .season .episode .title > .small {
	padding-right: 8px;
	margin-left: -20px;
}
#seasons .season .episode .extended {
	display: none;
	padding-bottom: 10px;
}
#seasons .season .episode .extended .tools {
	text-align: right;
}
#seasons .season .episode .extended .tools > span {
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;
}
#seasons .season .episode .extended .tools > span.action {
	cursor: pointer;
}


/* Downloads */

#downloads .download {
	border-bottom: 1px solid #EEEEEE;
}
#downloads .download h4 {
	margin-right: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Settings */

#match, #settings {
	padding-bottom: 50px;
}

#match .toolbar,
#settings .toolbar {
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	bottom: 0px;
	box-sizing: border-box;
	height: 45px;
	left: 0px;
	padding: 5px 10px;
	position: fixed;
	text-align: right;
	width: 100%;
}

.modal-header {
    position: relative;
}

.close.close-corner {
	display: none;
	margin: 0;
	opacity: 1;
	position: absolute;
	right: -10px;
	top: -10px;
}

@media screen and (max-width: 767px) {
	#dashboard .small {
		display: block;
		padding-top: 5px;
	}
	#dashboard .thumbnail {
		display: block;
		width: 100%;
		max-width: 400px;
	}
	#seasons .season .episode .extended .synopsis {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) {
	#dashboard .thumbnail {
		float: left; 
		margin-right: 10px;
		width: 120px;
	}
	
	#shows .show {
		border: none;
		height: 160px;
		padding: 10px 0px 0px;
		text-align: center;
	}
	
	#shows .show div.image {
		background-color: #666666;
		background-image: url('../gfx/no-cover.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		/* border: 1px solid #FFFFFF; */
		box-shadow: 0px 0px 5px black;
		display: block;
		height: 100px;
		margin: 0px auto;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 68px;
	}
	#shows .show div.image > img {
		display: none;
	}
	
	#seasons .season .episode .extended .synopsis {
		margin-left: 20px;
	}
}

