<div class="library-filter">
	<div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon btn btn-primary" ng-click="filter.active=!filter.active" ng-class="{'active':filter.active}"><span class="fa fa-filter"></span></span>
				<input type="text" class="form-control search" placeholder="Search library..." ng-model="filter.title" />
				<span class="input-group-addon btn btn-info" ui-sref="shows.index.random"><span class="fa fa-random"></span></span>
				
				<span class="input-group-addon btn btn-success" ng-click="addShow()"><span class="fa fa-plus"></span></span>
				
				<span class="input-group-addon btn btn-danger" ng-click="clearFilter()"><span class="fa fa-times"></span></span>
			</div>
		</div>
	</div>
	<div class="row" ng-if="filter.active">
		<div class="col-sm-3">
			<select class="form-control" ng-model="filter.genre" ng-options="value for value in genres.shows">
				<option value="">&raquo; All Genres</option>
			</select>
		</div>
		<div class="col-sm-3">
			<div class="checkbox"><label><input type="checkbox" ng-model="filter.watched" /> Hide watched</label></div>
		</div>
	</div>
</div>
	
<div class="row" ng-swipe-left="pageNext()" ng-swipe-right="pagePrev()">
	<div class="poster col-sm-2" ng-show="results.length" ng-repeat="show in results = (shows | filter:filterList) | orderBy:definiteArticle | offset:(paginate.page-1)*paginate.items | limitTo:paginate.items" ng-controller="ShowController" lazy-load>
		<div class="image" ng-class="{'ended': show.ended}" ui-sref="shows.index.detail({'imdb':show.imdb,'url':show.url})">
			<span class="badge unwatched" ng-if="show.progress.left>0">{{::show.progress.left}}</span>
			
			<img src="/app/assets/gfx/no-cover.png" alt="" class="img-responsive placeholder" />
			<img lazy-src="/media/{{settings.media.shows.directory}}/{{::show.directory}}/poster.jpg" alt="{{::show.name}}" class="img-responsive artwork" />
			
			<h6>{{::show.name}}</h6>
			
			<div class="overlay">
				<div class="title">{{::show.name}}</div>
				<div class="hud">
					<!-- Heads-up display for basic show info -->
					<!-- TODO: need better icons
					<span class="fa fa-rss" ng-if="show.status && !!show.feed" title="RSS feed enabled"></span>
					<span class="fa fa-exclamation-circle" ng-if="show.ended" title="Series ended/cancelled"></span>
					-->
				</div>
				<progress animate="false" title="{{::show.progress.percentage}}% Watched">
					<bar type="success" value="::show.progress.percentage"></bar>
					<bar type="danger" value="100-show.progress.percentage"></bar>
				</progress>
			</div>		
		</div>
		<div class="title">
			<a ui-sref="shows.index.detail({'imdb':show.imdb,'url':show.url})">
				<span class="badge pull-right" ng-if="show.progress && show.progress.left>0">{{::show.progress.left}}</span>
				{{::show.name}}
			</a>
		</div>
	</div>
	<div class="col-sm-12" ng-show="!results.length" style="text-align: center;">
		No matches found
	</div>
</div>

<div class="text-center" ng-show="results.length>=paginate.items" ng-cloak>
	<pagination class="hidden-xs pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="paginate.items" total-items="results.length" ng-model="paginate.page" max-size="5" boundary-links="true"></pagination>
	<pager class="visible-xs pagination-sm" items-per-page="paginate.items" total-items="results.length" ng-model="paginate.page"></pager>
</div>