<div id="install">
	<form name="installForm" ng-submit="save()">
		<div class="page-header">
			<h1>Install NodeTV</h1>
		</div>
		<accordion close-others="true">
			<accordion-group heading="Database" is-open="true" class="panel-info">
				<div ng-include="'/views/settings/partial/database.html'"></div>
			</accordion-group>
			<accordion-group heading="Files" class="panel-info">
				<div ng-include="'/views/settings/partial/files.html'"></div>
			</accordion-group>
			<accordion-group heading="Transmission" class="panel-info">
				<div ng-include="'/views/settings/partial/transmission.html'"></div>
			</accordion-group>
			<accordion-group heading="Trakt" class="panel-info">
				<div ng-include="'/views/settings/partial/trakt.html'"></div>
			</accordion-group>
		</accordion>
		<div class="toolbar">
			<button type="submit" class="btn btn-success">Save &amp; Install</button>
		</div>		
	</form>
</div>