<p>NodeTV uses MongoDB to store your show data.</p>
<div class="form-group">
	<label for="ipt_mongo_host">Host</label><input type="text" id="ipt_mongo_host" class="form-control" placeholder="127.0.0.1" required="true" ng-model="settings.mongo.host" />
</div>
<div class="form-group">
	<label for="ipt_mongo_port">Port</label><input type="text" id="ipt_mongo_port" class="form-control" placeholder="27017" required="true" ng-model="settings.mongo.port" />
</div>

<div class="form-group">
	<label><input type="checkbox" ng-model="settings.mongo.auth" /> My database requires a username and password</label>
</div>

<div class="form-group" ng-if="settings.mongo.auth">
	<label for="ipt_mongo_user">Username</label><input type="text" id="ipt_mongo_user" class="form-control" required="true" ng-model="settings.mongo.username" />
</div>
<div class="form-group" ng-if="settings.mongo.auth">
	<label for="ipt_mongo_pass">Password</label><input type="password" id="ipt_mongo_pass" class="form-control" required="true" ng-model="settings.mongo.password" />
</div>