<div class="form-group">
	<button type="button" class="btn btn-info" ng-click="listings()">Update listings</button>
	<button type="button" class="btn btn-primary" ng-click="rescan()">Rescan Media</button>
</div>
<div class="well well-sm">NodeTV automatically updates show listings at 1am every Sunday.</div>
<!--
<div class="form-group">
	<button type="button" class="btn btn-info" ng-click="latest()">Check for downloads</button>
</div>
<div class="well well-sm">NodeTV automatically checks for new downloads every 30 minutes.</div>
-->