<p>A free <a href="http://trakt.tv/join">Trakt.tv account</a> is required to retrieve show and episode information.</p>
<div class="form-group">
	<label for="ipt_trakt_user">Username</label>
	<input type="text" id="ipt_trakt_user" class="form-control" required="true" ng-model="settings.trakt.username" />
</div>
<div class="form-group">
	<label for="ipt_trakt_pass">Password</label>
	<input type="password" id="ipt_trakt_pass" class="form-control" required="true" ng-model="settings.trakt.password" />
</div>
<div class="form-group">
	<label for="ipt_trakt_api">API Key</label>
	<input type="text" id="ipt_trakt_api" class="form-control" required="true" ng-model="settings.trakt.apikey" />
</div>
<p class="small">Your trakt.tv API key can be found <a href="http://trakt.tv/settings/api" target="_blank">here</a></p>
