<form name="userForm" autocomplete="off">
	<div class="modal-header">
		<h4 class="modal-title">
			<img class="avatar avatar-sm" ng-src="{{user.avatar}}" ng-if="user.avatar" />
			<span ng-if="!adding && user.username">{{user.name || user.username}}</span>
			<span ng-if="adding">Add new user</span>
		</h4>
	</div>
	<div class="modal-body">
		<tabset type="pills">
			<tab heading="General">
				<div class="form-group" ng-if="adding">
					<label for="ipt_username">Username</label>
					<input id="ipt_username" type="text" class="form-control" placeholder="john_smith" required="true" ng-model="user.username" />
				</div>
				<div class="form-group">
					<label for="ipt_realname">Real name</label>
					<input id="ipt_realname" type="text" class="form-control" placeholder="John Smith" required="true" ng-model="user.name" />
				</div>
				
				<div class="form-group">
					<label for="ipt_email">Email Address</label>
					<input id="ipt_email" type="email" class="form-control" placeholder="user@example.com" ng-model="user.email" />
				</div>
				<hr />
				<div class="form-group">
					<label for="ipt_password">Change Password</label>
					<input id="ipt_password" type="password" class="form-control" placeholder="New password" ng-model="user.password" />
					<input id="ipt_passconf" type="password" class="form-control" placeholder="Confirm password" ng-model="user.passconf" />
				</div>
			</tab>
			<tab heading="Trakt">
				<div class="form-group">
					<label for="ipt_trakt_username">Username</label>
					<input id="ipt_trakt_username" type="text" class="form-control" ng-model="user.trakt.username" />
				</div>
				<div class="form-group">
					<label for="ipt_trakt_password">Password</label>
					<input id="ipt_trakt_password" type="password" class="form-control" ng-model="user.trakt.password" />
				</div>
				
				<input type="hidden" ng-model="avatar" />
				<input type="hidden" ng-model="trakt.token" />
				<input type="hidden" ng-model="trakt.vip" />
			</tab>
			
			<tab heading="Advanced">
				<div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="library.shows.resync()">
							<span class="fa fa-refresh"></span> Sync Shows
						</button>
						<button type="button" class="btn btn-primary" ng-click="library.movies.resync()">
							<span class="fa fa-refresh"></span> Sync Movies
						</button>
					</div>
				</div>
				<hr />
				<div class="checkbox">
					<label>
						<input type="checkbox" name="googleauth" ng-model="user.mfa.enabled" ng-checked="user.mfa.enabled" />
						Enable Multi-factor authentication<br /><span class="small">Requires the Google Authenticator app</span>
					</label>
				</div>
				
				<div ng-if="user.mfa.enabled" class="row">
					<!-- otpauth:// links open the app automatically (on iOS at least..) -->
					<div class="col-sm-6" style="text-align: center;">
						<img src="https://chart.googleapis.com/chart?chs=150x150&amp;chld=H|0&amp;cht=qr&chl=otpauth://totp/{{user.username}}%3Fsecret={{user.mfa.secret.base32}}%26issuer=NodeTV" alt="{{user.mfa.secret}}" />
					</div>
					<div class="col-sm-6">
						<p>1. Scan the QR code with your app</p>
						<p>2. Enter the 6-digit code generated by the Google Authenticator app</p>
						<div class="form-group">
							<input id="user_mfa_confirm" type="text" class="form-control" maxlength="6" pattern="\d{6}" ng-model="user.mfa.confirm" />
						</div>
					</div>
				</div>
			</tab>
			
			<!--tab heading="Security">
			</tab-->
		</tabset>
	</div>
	<div class="modal-footer">
		
		<!--button type="button" class="btn btn-danger" ng-click="remove()" ng-if="user._id">
			<span class="fa fa-trash-o"></span> Delete
		</button-->
		
		<button type="button" class="btn btn-success" ng-show="userForm.$dirty && userForm.$valid" ng-click="save()">
			<span class="fa fa-save"></span> Save
		</button>
		<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
	</div>
</form>
