<div class="show">
	<div class="title">
		<h1>{{name}}</h1>
		<img src="assets/artwork/{{tvdb}}.jpg" />
	</div>
	
	<div class="synopsis">
		<h3>Synopsis</h3>
		<p>{{synopsis}}</p>
	</div>
	
	<!--
	<div class="settings">
		<h3>Settings</h3>
	</div>
	-->
	
	{{#if seasons}}
	<div class="episodes">
		<ul class="seasons">{{#seasons}}
			<li>
				<h3>Season {{season}}</h3>
				<ul class="episodes">{{#episodes}}
					<li class="{{#if hash}}downloading{{/if}} {{#if file}}available{{/if}}">
						<span class="episode">{{episode}}</span>
						<span class="title">{{title}}</span>
						
						<span class="duration">{{duration}}</span>
						{{#if status}}
						<span class="date">{{airdate}}</span>
						{{/if}}
						{{#unless status}}
						<span class="date">Download</span>
						{{/unless}}
					</li>
					{{/episodes}}</ul>
			</li>
		{{/seasons}}</ul>	
	</div>
	{{/if}}
	
</div>