<div id="show">
	<div class="title">
		<img src="assets/artwork/{{tvdb}}.jpg" alt="{{name}}" class="blend" />
		<span class="cog"></span>
	</div>
	
	<div class="config">
		<h3>Settings</h3>
		<form action="show/settings" method="post">
			<dl>
				<dt>Download new episodes as available</dt>
				<dd><input type="text" name="status" value="{{status}}" class="toggle" /></dd>
				
				<dt>Prefer HD Video?</dt>
				<dd><input type="text" name="hd" value="{{hd}}" class="toggle" /></dd>
				
				<dt>Directory</dt>
				<dd><input type="text" value="{{directory}}" readonly="readonly" /></dd>
			</dl>
			
			<div>
				<input type="hidden" name="id" value="{{id}}" />
				<input type="submit" value="Save" class="button" />
				
				<a href="show/update" data-id="{{id}}" class="button">Update info</a>
				<a href="show/scan" data-id="{{id}}" class="button">Rescan files</a>
			</div>
			
		</form>
	</div>
	
	<div class="synopsis">
		<h3>Synopsis</h3>
		<p>{{synopsis}}</p>
	</div>
	
	
	{{#if seasons}}
	<div class="episodes">
		<ul class="seasons">{{#seasons}}
			<li>
				<h2>Season {{season}}</h2>
				<ul class="episodes">{{#episodes}}
					<li class="episode {{aired airdate}} {{available status}}">
						<div class="header">
							<span class="episode">{{episode}}</span>
							<span class="title">{{title}}</span>
							<span class="airdate">{{airdate}}</span>
							<span class="download"><a href="" class="button">Download</a></span>
						</div>
						{{#if synopsis}}
						<div class="extended">
							<p class="synopsis">{{synopsis}}</p>
						</div>
						{{/if}}
					</li>
					{{/episodes}}</ul>
			</li>
		{{/seasons}}</ul>	
	</div>
	{{/if}}
	
</div>